main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   gap: 1.6rem;
  .container {
    background: $white;
    padding: 1.6rem;
    border-radius: 8px;
    margin-bottom: 1.6rem;
    width: 100%;
    .comment-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      margin-bottom: 2rem;
      .img-user {
        height: 3.2rem;
        width: 3.2rem;
      }
      .user-name {
        font-weight: 500;
        color: $dark-blue;
      }
      .comment-date {
        color: $grayish-blue;
      }
    }
    div .comment {
      color: $grayish-blue;
      line-height: 1.5;
      margin-bottom: 2rem;
    }
    .vote-reply-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .vote-btn-container {
        background: $very-light-gray;
        width: 10rem;
        height: 4rem;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.2rem;
        .icon-plus {
          cursor: pointer;
        }
        .score {
          color: $moderate-blue;
          font-weight: 500;
        }
        .icon-minus {
          cursor: pointer;
        }
      }
      .btn-reply-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.9rem;
        cursor: pointer;
        .btn-reply {
          color: $moderate-blue;
          font-weight: 500;
        }
      }
      .btn-reply-container:hover {
        opacity: 0.5;
        transition: opacity 0.3s;
      }
    }
  }
  .comment-reply-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-left: 2px $light-gray solid;
    // .left-line {
    //   background: $light-gray;
    // }
    .container.comment-reply-subcontainer {
      width: 95%;
    }
  }
  //   .user-replies {
  //     border-radius: 8px;
  //     width: 100%;
  //     .container {
  //       margin-bottom: 1.6rem;
  //     }
  //   }
  .replies {
    border-radius: 8px;
    width: 100%;
    .container {
      margin-bottom: 1.6rem;
    }
  }
  .current-user-container {
    background: $white;
    width: 100%;
    padding: 1.6rem;
    border-radius: 8px;
    margin-bottom: 1.6rem;
    // input[type="text"] {
    //   border: 1px $light-gray solid;
    //   border-radius: 8px;
    //   width: 100%;
    //   height: 9.6rem;
    //   margin-bottom: 1.6rem;
    //   padding-bottom: 4.5rem;
    // }
    // input[type="text"]::-webkit-input-placeholder {
    //   line-height: 2.4rem;
    //   font-size: 1.6rem;
    //   color: $grayish-blue;
    //   padding-left: 2.3rem;
    // }
    textarea {
      border: 1px $light-gray solid;
      border-radius: 8px;
      width: 100%;
      height: 9.6rem;
      padding-left: 2.3rem;
      padding-top: 1.6rem;
      color: $grayish-blue;
      line-height: 2.4rem;
      font-size: 1.6rem;
      font-family: "Rubik", sans-serif;
      cursor: pointer;
      margin-bottom: 1.6rem;
      resize: none;
      outline: none;
      caret-color: $moderate-blue;
    }
    textarea:active,
    textarea:focus {
      outline: 1px $moderate-blue solid;
    }
    .submit-comment-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .img-current-user {
        width: 3.2rem;
        height: 3.2rem;
      }
      .btn-submit-comment {
        background: $moderate-blue;
        height: 4.8rem;
        width: 10.4rem;
        border-radius: 8px;
        color: $white;
        font-weight: 500;
      }
      .btn-submit-comment:hover {
        opacity: 0.5;
        transition: opacity 0.3s;
      }
    }
  }
  .user-replies {
    .user-comment-reply-container {
      display: flex;
      justify-content: space-between;
      align-items: start;
      //   border-left: 2px $light-gray solid;
      border-left: none;
      .left-line.reply {
        background: $light-gray;
        height: 19.5rem;
        width: 0.2rem;
      }
      .current-user-container {
        width: 95%;
        margin-bottom: 1.6rem;
        textarea {
          border: 1px $light-gray solid;
          border-radius: 8px;
          width: 100%;
          height: 9.6rem;
          padding-left: 2.3rem;
          padding-top: 1.6rem;
          color: $grayish-blue;
          line-height: 2.4rem;
          font-size: 1.6rem;
          font-family: "Rubik", sans-serif;
          cursor: pointer;
          margin-bottom: 1.6rem;
          resize: none;
          outline: none;
          caret-color: $moderate-blue;
        }
        textarea:active,
        textarea:focus {
          outline: 1px $moderate-blue solid;
        }
        .submit-comment-container {
          .img-current-user {
          }
          .btn-submit-comment {
          }
        }
      }
    }
  }
  //   .current-user-container.reply {
  //     border-radius: 8px;
  //     width: 90%;
  // display: flex;
  // justify-content: space-between;
  // align-items: start;
  // border-left: 2px $light-gray solid;
  // background: yellow;
  // .current-user-subcontainer-first {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: start;
  //   border-left: 2px $light-gray solid;
  //   width: 95%;
  // }
  //   }
}

.modal-delete {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  //   background: black;
  justify-content: center;
  align-items: center;
  .modal-delete-subcontainer {
    background: $white;
    padding: 2.4rem;
    margin: 0 1.6rem;
    border-radius: 8px;
    .modal-heading {
      color: $dark-blue;
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 2.6rem;
    }
    .modal-paragraph {
      color: $grayish-blue;
      font-size: 1.6rem;
      line-height: 1.5;
      margin-bottom: 2.3rem;
    }
    .modal-delete-btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .modal-btn {
        height: 4.8rem;
        width: 13.8rem;
        font-size: 1.6rem;
        line-height: 1.5;
        border-radius: 8px;
        color: white;
        font-weight: 500;
      }
      .modal-btn:hover {
        opacity: 0.5;
        transition: opacity 0.3s;
      }
      .modal-btn-cancel {
        background: $grayish-blue;
      }
      .modal-btn-delete {
        background: $soft-red;
      }
    }
  }
}
.modal-delete.show {
  display: flex;
}
